
@{
    ViewBag.Title = "DataVisualization";
}

@using PriceWatchEntrySystem.Models;
@model PriceTableViewModel

<style>
    .left {
        float: left;
        width: 240px;
        background-color: ghostwhite;
        height: 600px;
    }

    .table {
        width: 1300px;
    }

    .right {
        float: left;
        margin-left: 10px;
    }

    .tot {
        height: 600px;
    }

    .page {
        padding: 0 500px;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .left {
        margin-left: 10px;
        float: left;
        width: 230px;
        height: 600px;
        background-color: aliceblue;
        line-height: 46px;
    }

    .banner .left span {
        float: right;
    }

    .banner .left a {
        font-size: 14px;
        color: white;
    }

        .banner .left a:hover {
            color: #00b4ff;
        }

    .topic {
        width: 230px;
        padding: 0 30px;
    }

    .table .head {
        background-color: lightsteelblue;
    }
</style>

<br />


<h2>Choose a catagory on the left to see it's price in the database</h2>
<div class="tot">
    <div class="left mb-4">
        <label class="list-group-item list-group-item-action active list-group topic">Categories</label>
        <ul>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Barkery"})">Bakery<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Dairy"})">Dairy<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Rice/Oil"})">Rice/Oil<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Noodles"})">Noodles<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Candies/Snacks"})">Candies/Snacks<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Drinks"})">Drinks<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Wines"})">Wines<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Personal Care"})">Personal Care<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Household"})">Household<span>></span></a></li>
            <li><a href="@Url.Action("DataVisualization", "Home", new { Catagory = "Mik Power/Baby Care"})">Mik Power/Baby Care<span>></span></a></li>
        </ul>

    </div>
    <div class="m0">

    </div>

    <div class="right">

        <table class="table table-hover table-responsive">
            <thead>
                <tr class=" head">
                    <th scope="col">Barcode</th>
                    <th scope="col">Date</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Wellcome</th>
                    <th scope="col">PARKnSHOP</th>
                    <th scope="col">Market Place</th>
                    <th scope="col">Watsons</th>
                    <th scope="col">Mannings</th>
                    <th scope="col">AEON</th>
                    <th scope="col">DCH Food Mart</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.listPricesTableRows.Count(); i++) 
                {
                <tr class="table-active">
                    <th scope="row">@Html.DisplayFor(model => model.listPricesTableRows[i].Barcode)</th>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Date)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Brand)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Name)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Wellcome_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].PARNnShop_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].MarketPlace_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Watsons_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].Mannings_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].AEON_Price)</td>
                    <td>@Html.DisplayFor(model => model.listPricesTableRows[i].DCHFoodMart_Price)</td>
                </tr>
                }

              
            </tbody>
        </table>
    </div>

</div>

